/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Gov banner
.usa-banner {
  .usa-banner__button {
    color: color('secondary-dark');
    &::after,
    &:hover::after {
      background-image: url('#{$theme-image-path}/angle-arrow-down-cyan-30v.svg');
    }
    &[aria-expanded=true] {
      &::after,
      &:hover::after {
        background-image: url('#{$theme-image-path}/angle-arrow-up-cyan-30v.svg');
      }
    }
  }
}

// Buttons
.usa-button--secondary {
  color: color('ink');
  &.usa-button--unstyled {
    color: color('primary');
  }
}

// Header
.usa-header {
  .usa-logo {
    img {
      max-height: 150px;
      width: auto;
    }
  }
}
