/*
----------------------------------------
General
----------------------------------------
*/

$theme-image-path: "../assets/img";
$theme-show-compile-warnings: false;
$theme-show-notifications: false;

/*
----------------------------------------
Typography
----------------------------------------
*/

$theme-font-path: "../assets/fonts";

$theme-typeface-tokens: (
  nunito: (
    display-name: "Nunito",
    cap-height: 364px
  )
);

$theme-font-type-sans: "nunito";
$theme-font-sans-custom-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$theme-font-sans-custom-src: (
  dir: "nunito",
  roman: (
    100: false,
    200: false,
    300: 'Nunito-SemiBold',
    400: 'Nunito-SemiBold',
    500: false,
    600: 'Nunito-SemiBold',
    700: 'Nunito-Bold',
    800: false,
    900: false,
  ),
  italic: (
    100: false,
    200: false,
    300: false,
    400: false,
    500: false,
    600: false,
    700: false,
    800: false,
    900: false
  )
);

/*
----------------------------------------
Spacing
----------------------------------------
*/

/*
----------------------------------------
Color
----------------------------------------
*/

// Primary colors
$theme-color-primary-family: "gold";
$theme-color-primary-lightest: false;
$theme-color-primary-lighter: "gold-5v";
$theme-color-primary-light: "yellow-10v";
$theme-color-primary: "gold-20v";
$theme-color-primary-vivid: "yellow-20v";
$theme-color-primary-dark: "gold-30v";
$theme-color-primary-darker: "orange-40v";
$theme-color-primary-darkest: false;

// Secondary colors
$theme-color-secondary-family: "cyan";
$theme-color-secondary-lightest: false;
$theme-color-secondary-lighter: "cyan-10";
$theme-color-secondary-light: "cyan-20";
$theme-color-secondary: "cyan-30";
$theme-color-secondary-vivid: "cyan-20v";
$theme-color-secondary-dark: "cyan-30v";
$theme-color-secondary-darker: "cyan-40v";
$theme-color-secondary-darkest: false;

// Accent cool colors
$theme-color-accent-cool-family: "green-cool";
$theme-color-accent-cool-lightest: false;
$theme-color-accent-cool-lighter: "green-cool-5v";
$theme-color-accent-cool-light: "green-cool-10v";
$theme-color-accent-cool: "green-cool-20v";
$theme-color-accent-cool-dark: "green-cool-30v";
$theme-color-accent-cool-darker: "green-cool-40v";
$theme-color-accent-cool-darkest: false;

/*
----------------------------------------
Utilities
----------------------------------------
*/

/*
----------------------------------------
Components
----------------------------------------
*/

$theme-button-border-radius: 0;
